@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__fieldset/popup__feildset.css);
@import url(./__input-name/popup__input-name.css);

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}