@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__fieldset/popup__feildset.css);
@import url(./__input-name/popup__input-name.css);

.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.image-popup * {
  outline: 1px red solid;
}

.image-popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
}

.image-popup__figure {
  position: relative;
  margin: auto;
}

.image-popup__image {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
}

.image-popup__caption {
  margin-top: 10px;
}