.profile__avatar-button {
  position: relative;
  border: none;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}

.profile__avatar-button:focus {
  outline: none;
}