.profile__text {
  margin: 16px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .profile__text {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .profile__text {
    margin-top: 14px;
    font-size: 14px;
  }
}