@import url(./__figure/image-popup__figure.css);
@import url(./__image/image-popup__image.css);
@import url(./__caption/image-popup__caption.css);

.image-popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
}