.button_type_close {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 56px;
  height: 56px;
  background-image: url(../../../images/close-button.svg);
  background-size: cover;
  border: none;
  box-sizing: border-box;
}

.button_type_close:hover {
  opacity: 0.6;
}