@import url(./__avatar-button/profile__avatar-button.css);
@import url(./__avatar-image/profile__avatar-image.css);
@import url(./__avatar-overlay/profile__avatar-overlay.css);
@import url(./__info/profile__info.css);
@import url(./__title-container/profile__title-container.css);
@import url(./__title/profile__title.css);
@import url(./__text/profile__text.css);

.profile {
  margin-top: 36px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .profile {
    margin-top: 42px;
  }
}