.popup__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 56px;
  height: 56px;
  background-image: url(../../../images/close-button.svg);
  background-size: cover;
  border: none;
  box-sizing: border-box;
}