.placement {
  min-width: calc(320px - 40px);
  max-width: 882px;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .placement {
    width: 85%;
  }
}

@media (max-width: 450px) {
  .placement {
    width: auto;
    margin: 0 20px;
  }
}