.button_type_like {
  height: 21px;
  width: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.button_type_like:hover {
  opacity: 0.6;
}